*
body{
    background-color: #202020;
}

h1{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

ul{
    background-color: #303030;
    color: #fff;
    padding: 50px;
    border-radius: 5px;
}

li{
    margin: 5px 0;
}